@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: W95FA;
  src: url(/W95FA.otf);
}
:root {
  background-color: #008484;
  font-family: W95FA;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
