@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  h4 {
    @apply font-bold;
  }
}

@font-face {
  font-family: W95FA;
  src: url(/W95FA.otf);
}
:root {
  background-color: #008484;
  font-family: W95FA;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
